.a{
	margin-left: 36%;
	margin-top: 7%;

}
.a1{
	border-radius: 20px;
	
}
.b{
   font-family: 'Paytone One', sans-serif;
   margin-left: 38%;
   margin-top: -17%;
   color: #18CE89;

   

}
.c{
	font-family: 'Barlow', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Saira Condensed', sans-serif;

 color: #E5E7E9;
 font-size: 20px;
 letter-spacing: 7px;
  margin-left: 38%;
  margin-top: 5%;
}
.e{
	margin-left: 38%;
	margin-top: 2%;
	color: #D1CCD6;
}
#vl{
	color: #9CC1CC;
	margin-left: 48%;
	margin-top: -5%;
	font-family: 'Caveat', cursive;
}
.f{
	margin-left: 57%;
	margin-top: -3%;
}
.meta{
	margin-left: -60%;
	margin-top: 2%;
}
.z1{
	margin-left: 47%;
}
.z{
	margin-top: -11%;
}
.y1{
	margin-left: 37%;

}
.y{
	margin-top: -3%;
	color: #F99A10;
}
#x1{
	color: #D1CCD6;
	margin-left: 53%;
	margin-top: -7.5%;
}
.x{

}
#navin{
     font-size: 22px;
     margin-top: 1%;
     font-family: 'Work Sans', sans-serif;
}